In [1]:
def create_cubes(n):
    result = []
    for x in range(n):
        result.append(x**3)
    return result

In [2]:
create_cubes(10)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [3]:
for x in create_cubes(10):
    print(x)

0
1
8
27
64
125
216
343
512
729

In [8]:
mylist = [x**3 for x in range(0,10)]

In [9]:
mylist

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [12]:
def gensquares(N):
    
    for x in range(N):
        yield x**2

In [14]:
for x in gensquares(10):
    print(x)

0
1
4
9
16
25
36
49
64
81

In [15]:
import random

random.randint(1,10)

6

In [24]:
def rand_num(low,high,n):
    for x in range(n):
        yield random.randint(low,high)

In [26]:
for num in rand_num(1,10,5):
    print(num)

9
7
5
10
10

In [27]:
s = 'hello'

for letter in s:
    print(letter)

h
e
l
l
o

In [28]:
s_iter = iter(s)

In [31]:
next(s_iter)

'h'

In [32]:
next(s_iter)

'e'

In [33]:
next(s_iter)

'l'

In [34]:
next(s_iter)

'l'

In [35]:
next(s_iter)

'o'

In [3]:
result = 15/69

result

In [4]:
result

0.21739130434782608

In [10]:
print('The result was {r:1.3f}'.format(r=result))

The result was 0.217

In [1]:

list3 = [1,2,[3,4,'hello']]

In [2]:
list3[2][2] = 'goodbay'

In [3]:
list3

[1, 2, [3, 4, 'goodbay']]

In [9]:
list4 = [5,3,1,2,6]

In [11]:
list4.sort()

In [12]:
list4

[1, 2, 3, 5, 6]

In [13]:
d = {'simple_key':'hello'}

In [15]:
d['simple_key']

'hello'

In [16]:
d1 = {'k1':{'k2':'hello'}}

In [17]:
d1['k1']['k2']

'hello'

In [18]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]

In [19]:
s = set(list5)

In [20]:
s

{1, 2, 3, 4, 11, 22, 33}

In [22]:
list = [1,2,3,4,5,6,7,8,9]

In [23]:
for num in list:
    #chek for even
    if num % 2 == 0:
        print(num)
    else: 
        print(f'odd number: {num}')

odd number: 1
2
odd number: 3
4
odd number: 5
6
odd number: 7
8
odd number: 9

In [40]:
def n_age():
    
    name = input('What is your name?')
    print('Your name is ' + name)
    age = int(input('What is your age? '))
    
    
    year = str((2018 - age)+100)
    print('A year when you will be have 100 years will be in ' + year)

In [41]:
n_age()

What is your name?Adam
Your name is Adam
What is your age? 24
A year when you will be have 100 years will be in 2094

In [74]:
    num = input('Choose the number: ')
    mod = num % 2
    if mod == 0:
        print('ho')
    else:
        print('hi')

Choose the number: 2

TypeError: not all arguments converted during string formatting

In [75]:

num = input("Enter a number: ")
mod = num % 2
if mod > 0:
    print("You picked an odd number.")
else:
    print("You picked an even number.")

Enter a number: 2

TypeError: not all arguments converted during string formatting

In [76]:
a = [1,1,2,3,5,6,13,21,34,55,89]

In [78]:
for x in a:
    if x < 5:
        print(x)
    else:
        pass

1
1
2
3

In [79]:
new_list = [x for x in a if x < 5]

In [80]:
new_list

[1, 1, 2, 3]

In [93]:
new_list2 = []
for num in a:
    new_list2.appednd(num)
    print(new_list2)

AttributeError: 'list' object has no attribute 'appednd'

In [84]:
b = [1,1,2,3,4,5,6,7,8,9,12,15]

TypeError: '<' not supported between instances of 'NoneType' and 'int'

In [89]:
list = [x for x in range(2,11)]

In [90]:
list

[2, 3, 4, 5, 6, 7, 8, 9, 10]

In [92]:
for x in list:
    print(x)

2
3
4
5
6
7
8
9
10