In [1]:
st = 'Print every word in this sentence that has an even number of letters'

In [5]:
mylist = []

for word in st.split():
    if len(word)%2 == 1:
        print(word + ' is odd number of letters!')

Print is odd number of letters!
every is odd number of letters!
has is odd number of letters!
letters is odd number of letters!

In [ ]:
'''
Write a program that prints the integers from 1 to 100. But for multiples of three print "Fizz" instead of the number, 
and for the multiples of five print "Buzz". 
For numbers which are multiples of both three and five print "FizzBuzz".
'''

In [11]:
for num in range(1,101):
    if num%5 == 0 and num%3 == 0:
        print('FizzBuzz')
    elif num % 5 == 0:
        print('Buzz')
    elif num % 3 == 0:
        print('Fizz')
    else:
        print(num)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [12]:
st = 'Create a list of the first letters of every word in this string'

In [16]:
mylist = []

for word in st.split():
    mylist.append(word[0])
    
mylist

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

In [14]:
#Code in this cell
[word[0] for word in st.split()]

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

In [ ]:
import random
ran = random.randint(1,100)
print(ran)

In [17]:
def hello(name):
    print('Hello ' + name)

In [19]:
hello('Adam')

Hello Adam

In [ ]:
#zadanko, jeśli słowo zaczyna się od samogłoski dajemy na koniec 'ay', 
#jeśli nie to pierwszą literę słowa dajemy na koniec i iwtedy dodajemy 'ay'

In [48]:
def word_chek(word):
    first_letter = word[0]
    if first_letter in 'aeiou':
        new = word + 'ay'
    else:
        new = word[1:] + first_letter + 'ay'
    
    return new

In [49]:
word_chek('anacon')

'anaconay'

In [45]:
word_chek('borek')

'orekbay'

In [46]:
def word_chek(word):
    
    first_letter = word[0]
    #check vowel
    if first_letter in ['a', 'e', 'i', 'o', 'u']:    #albo: in "aeiou'
        pig_word = word + 'ay'
    else: 
        pig_word = word[1:] + first_letter + 'ay'
        
    return pig_word

In [47]:
word_chek('anacon')

'anaconay'

In [ ]:
#write a function that takes a two-word string and return if True if both of them begins with same letter

In [50]:
def func(word1, word2):
    f1 = word1[0]   #pierwsza litera pierwszego wyrazu
    f2 = word2[0]   #druga litera drugiego wyrazu
    if f1 == f2:
        return True
    else:
        return False

In [51]:
func('Adam', 'Maja')

False

In [52]:
func('Adam', 'Ala')

True

In [ ]:
#Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20. If not, return False

In [57]:
def nums(a,b):
    suma = a + b 
    if (suma == 20 or a == 20 or b == 20):
        return True
    else:
        return False

In [58]:
nums(5,5)

False

In [59]:
nums(10,12)

False

In [60]:
nums(10,10)

True

In [61]:
nums(20,2)

True

In [ ]:
#OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
#old_macdonald('macdonald') --> MacDonald
#Note: 'macdonald'.capitalize() returns 'Macdonald'

In [68]:
def macdonald(word):

    first_letter = word[0]
    rest_letter = word[1:3]
    fourth_letter = word[3]
    rest = word[4:]
    
    return first_letter.upper() + rest_letter + fourth_letter.upper() + rest

In [70]:
macdonald('aparat')

'ApaRat'

In [75]:
#MASTER YODA: Given a sentence, return a sentence with the words reversed
#master_yoda('I am home') --> 'home am I'
#master_yoda('We are ready') --> 'ready are We'
def master_yoda(text):
    word = text.split()
    rewerse = word.reverse()
    return rewerse

In [76]:
master_yoda('I am your dad')

In [ ]:
list(map(splicer, names))

In [77]:
lista = [1,2,3,4,5]

In [78]:
myset = set()

In [81]:
class Person():
    def __init__ (self, fname, lname, age, gender):
        self.fname = fname
        self.lname = lname
        self.age = age
        self.gender = gender

In [88]:
pers1 = Person('Adam', 'Gajda', 24, 'M')

In [89]:
pers2 = Person('Dominik', 'Gajda', 17, 'M')

In [90]:
pers1

In [91]:
pers1.fname

'Adam'

In [92]:
pers2.fname

'Dominik'

In [93]:
pers1.gender

'M'