In [2]:
mystring = 'hello'

In [5]:
mylist = []

for letter in mystring:
    mylist.append(letter)

In [6]:
mylist

['h', 'e', 'l', 'l', 'o']

In [7]:
#to samo w jednej lini
mylist = [letter for letter in mystring]

In [8]:
mylist

['h', 'e', 'l', 'l', 'o']

In [9]:
mylist = [num for num in range(0,10)]

In [10]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
# nie ma znaczenia co wpiszemy ... for ... :) może być x for x, i for i, adam for adam etc...

In [12]:
mylist = [num**2 for num in range(0,10)] #podnosi liczby do kwadratu

In [13]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [19]:
mylist = [x for x in range(0,11) if x%2 == 0 ]   #wskazać liczby podzielne przez 2

In [16]:
mylist

[0, 2, 4, 6, 8, 10]

In [17]:
mylist = [x**2 for x in range(0,11) if x%2 == 0 ]

In [18]:
mylist

[0, 4, 16, 36, 64, 100]

In [21]:
celcius = [0, 10, 20, 34,5]
fahrenheit = [((9/5)*temp + 32) for temp in celcius]

In [22]:
#to samo inna metdą
fahrenheit = []
for temp in celcius:
    fahrenheit.append(((9/5)*temp + 32))

In [23]:
fahrenheit

[32.0, 50.0, 68.0, 93.2, 41.0]

In [27]:
mylist = []

for x in [2,4,6]:
    for y in [100,200,300]:
        mylist.append(x*y)

In [28]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [29]:
mylist = [x*y for x in [2,4,6] for y in [100,200,300]]        #inny sposób

In [31]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]